.home {
    display: flex;

    .home-container {
        flex: 6;

        .widgets,
        .charts {
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 20px;
        }

        .charts {
            padding: 5px 20px;
        }
    }
}